<!DOCTYPE html>
<html lang="en">
<head>
	<title>MovieGoBS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/popper.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/w3.js"></script>
	<script src="static/js/moviegobs.js" ></script>
<!--This is needed for online deployment (which wont happen) -->
<!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://www.w3schools.com/lib/w3.js"></script>
-->


</head>
<body class='bg-dark'>
	<div class="container bg-dark"> 
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" href="#">
				<img
					id="logo"
					src="static/images/movie-7.png"
					alt="logo"
					style="width:50px;">
				</img>
				<img
					id="workingLogo" 
					src="static/images/ajax-loader.gif" 
					alt="" 
					style="width: 50px;"
				>
			</a>
			<ul class="navbar-nav" >
				<li class="nav-item">
					<a
						id="catagoriesBtn"
						href="#movies"
						data-toggle="collapse"
						class="btn btn-info btn-block"
						role="button" >Catagories
					</a>
				</li>
				<li class="nav-item">
					<a
						id="groupsBtn"
						href="#moviesGroup"
						data-toggle="collapse"
						class="btn btn-info btn-block"
						role="button" >Groups
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12" >
				<div id="movies" class="collapse">
					<a 
						href="#" 
						id="actionBtn" 
						class="main btn btn-warning btn-block" 
						role="button">Action
					</a>
					<a href="#" id="cartoonsBtn" class="main btn btn-warning btn-block" role="button">Cartoons</a>
					<a href="#" id="dramaBtn" class="main btn btn-warning btn-block" role="button">Drama</a>
					<a href="#" id="comedyBtn" class="main btn btn-warning btn-block" role="button">Comedy</a>
					<a href="#" id="scifiBtn" class="main btn btn-warning btn-block" role="button">SciFi</a>
					<a href="#" id="miscBtn" class="main btn btn-warning btn-block" role="button">Misc</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" >
				<div id="moviesGroup" class="collapse">
					<a href="#" id="godzillaBtn" class="main btn btn-danger btn-block " role="button">Godzilla</a>
					<a href="#" id="harrypotterBtn" class="main btn btn-danger btn-block" role="button">Harry Potter</a>
					<a href="#" id="indianajonesBtn" class="main btn btn-danger btn-block" role="button">Indiana Jones</a>		
					<a href="#" id="johnwayneBtn" class="main btn btn-danger btn-block" role="button">John Wayne</a>
					<a href="#" id="jurassicparkBtn" class="main btn btn-danger btn-block" role="button">Jurassic Park</a>
					<a href="#" id="kingsmanBtn" class="main btn btn-danger btn-block" role="button">Kingsmen</a>
					<a href="#" id="startrekBtn" class="main btn btn-danger btn-block" role="button">Star Trek</a>
					<a href="#" id="starwarsBtn" class="main btn btn-danger btn-block" role="button">Star Wars</a>
					<a href="#" id="superherosBtn" class="main btn btn-danger btn-block" role="button">Super Heros</a>
					<a href="#" id="tremorsBtn" class="main btn btn-danger btn-block" role="button">Tremors</a>
					<a href="#" id="meninblackBtn" class="main btn btn-danger btn-block" role="button">Men In Black</a>
				</div>
			</div>
		</div>		
	</div>
	<div id="mainContainer" class="container pt-3 pb-3 bg-dark">
		<div class="row bg-dark">
			<div class="p-1 col">
				<img id="nasaPOD" class="d-block mx-auto" src="static/images/animals.jpg" style="width: 60%;" >
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<div class="mx-auto d-block" >
			<img class="madewith" src="static/images/HTML_Logo.png" alt="" style="height: 50px;">	
			<img class="madewith" src="static/images/CSS3.png" alt="" style="height: 50px;">
			<img class="madewith" src="static/images/bootstrap.png" alt="" style="height: 50px;">
			<img class="madewith" src="static/images/mongodb.png" alt="" style="height: 50px;">
			<img class="madewith" src="static/images/golang2.jpg" alt="" style="height: 50px;">
			<img class="madewith" src="static/images/alpine.png" alt="" style="height: 50px;">
			<img class="madewith" src="static/images/docker2.png" alt="" style="height: 50px;">
			<img class="madewith" src="static/images/aws.png" alt="" style="height: 50px;">
		</div>
	</nav>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
		<div class="btn-group btn-group-lg mx-auto d-block" role='group'>
			<button id="prevChapterBtn" type="button" class="pr-1 pl-1 btn btn-primary"><<</button>
			<button id="prevBtn" type="button" class="pr-1 pl-1 btn btn-primary">Prev</button>
			<button id="playBtn" type="button" class="pr-1 pl-1 btn btn-primary">Pause</button>
			<button id="stopBtn" type="button" class="pr-1 pl-1 btn btn-primary">Stop</button>
			<button id="nextBtn" type="button" class="pr-1 pl-1 btn btn-primary">Next</button>
			<button id="nextChapterBtn" type="button" class="pr-1 pl-1 btn btn-primary">>></button>
		</div>
	</nav>
<br>
<br>
<br>
<br>
</body>
</html>