/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img.taz {
        max-width: 10%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img.taz {
        max-width: 25%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    img.taz {
        max-width: 55%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .taz {
        max-width: 55%;
    }
}